
<table border="2" cellpadding="3" cellspacing="5" bordercolor="black" bgcolor="black" width="1000" height="15">
  <caption>Have you seen me? If you have any info please call 1-800-THE-LOST</caption>
  <tr>
    <th>First Name</th>
    <th>Last Name </th>
    <th>Address</th>
    <th>City</th>
    <th>Zip</th>
    <th>Hair Color</th>
    <th>Eye Color</th>
    <th>Age</th>
    <th>Weight</th>
    <th>Height</th>
    <th>DOB</th>
    <th>Last Seen</th>
    <th>Last Seen Wearing Shirt Color</th>
    <th>Last Seen Wearing Pant Type</th>
    <th>Photo</th>



  </tr>
  <tr>
    <td><%= @missing_person.fname    %></td>
    <td><%= @missing_person.lname    %></td>
    <td><%= @missing_person.address    %></td>
    <td><%= @missing_person.city    %></td>
    <td><%= @missing_person.zip    %></td>
    <td><%= @missing_person.hair_color    %></td>
    <td><%= @missing_person.eye_color    %></td>
    <td><%= @missing_person.age    %></td>
    <td><%= @missing_person.weight    %></td>
    <td><%= @missing_person.height    %></td>
    <td><%= @missing_person.dob   %></td>
    <td><%= @missing_person.last_seen   %></td>
    <td><%= @missing_person.last_seen_wearing_shirt_color   %></td>
    <td><%= @missing_person.last_seen_wearing_pant_type   %></td>
    <td><%= link_to image_tag(@missing_person.image, :height => 80 ), @missing_person.image %> </td>

  </tr>
</table>

    <% 20.times do |person| %>
    <td><%= @missing_person.paragraph   %></td>
    <% end %>



