<%= image_tag('hope.jpg', alt: 'Kid', width: '350', height: '150') %>



<h1>Hope </h1>

</body>

<%= link_to "Go", overview_path, {class: "btn btn-success"} %>
<%= link_to "About", '/About', {class: "btn btn-info"} %>




<%= image_tag('teddybear.jpg', alt: 'Kid', width: '700', height: '500') %>




<p>© <%= Date.today.year %> My App.</p>
