<%= image_tag('treehope.jpg',alt: 'logo', width: '200', height: '120', :style => "border: 5px solid black") %>


<h1 class="text-center" > About Me</h1>

<bogus>
  
  <%= image_tag('holly.jpg', alt: 'Holly!', width: '400', height: '400',:style => "border: 10px solid black"  ) %>

</bogus>

</body>




<a  target="Holly's LinkedIn" href="https://goo.gl/Ln1jvg">Holly's LinkedIn Profile</a>
</p>

<a target="Holly's Github" href="https://github.com/Hollywilkerson">Holly's GitHub</a>
</div>



<h4 class="text-center"> My name is Holly Wilkerson. I have a passion for helping others and would
  love to bring awareness to how many people go missing every year. The statistics are crazy.
  I created this project with the hopes of helping others bring their loved
  ones home. Helping make the difference in even one families life would mean the world to me.'</h4>

<%= image_tag('passionate.jpg', alt: 'Passion!', width: '400', height: '400',:style => "border: 10px solid black"  ) %>




  <blah>

    <%= image_tag('neverlose.png', alt: 'missing', width: '500', height: '300', :style => "border: 10px solid black") %>

  </blah>

<p>© <%= Date.today.year %> My App.</p>

<body>
